includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan

    ignoreErrors:
        - identifier: method.notFound
          paths:
            - %currentWorkingDirectory%/src/Scopes

        - identifier: argument.type
          message: '#Parameter \#1 \$relations of method Illuminate\\Database\\Eloquent\\Builder.*::with\(\) expects#'
